<!-- /snippets/product-unit-price-label.liquid -->

{% assign product = product_object %}
{% assign unitPrice = unit_price %}
{% assign unitName = product.metafields.priceUnit.unitName %}
{% assign usePerPoundPrice = has_price_per_pound %}

{% if unitName %}
  {% assign unitName = 'per ' | append: unitName %}
{% elsif product.tags contains '_pricePerPound' %}
  {% assign unitName = 'per lb.' %}
{% elsif product.tags contains 'Whole Fish' %}
  {% assign unitName = 'per fish' %}
{% elsif product.type == 'Fish' %}
  {% assign unitName = 'per lb.' %}
{% else %}
  {% assign unitName = 'each' %}
{% endif %}

{% if usePerPoundPrice == true %}
  <span class="unit-price unit-label">{{ unitPrice }} {{ unitName }}<span>
{% else %}
  <span class="unit-price unit-label"><span id="VariantPrice" style="display: inline;">{{ unitPrice }}</span> {{ unitName }}<span>
{% endif %}
